<link rel="stylesheet" href="{{ themePath }}/default.css" />
<style>
    :host {
      display: inline-block;
      width: 650px;
      font-family: 'Roboto Slab';
      contain: content;
    }
    :host([background]) {
      background: var(--background-color, #9E9E9E);
      border-radius: 10px;
      padding: 10px;
    }
    :host([disabled]) {
      opacity: 0.4;
    }
</style>

<div id="tabs" class="sk-sltabs-tabs">
<slot id="tabsSlot" name="title"></slot>
</div>
<div id="panels" class="sk-sltabs-panels">
<slot id="panelsSlot"></slot>
</div>
